/* * Reseto los estilos del navegador */
*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  18px;
}

.header{
    background: rgb(188, 78, 78);
    color: rgb(9, 9, 9);
    height: 80px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.navbar{
    color: black;
    background: rgb(154, 40, 40);
    height: 50px;
}
.logo{
    text-transform: uppercase;
}
.logo a{
    color: #adc36b;
    text-decoration: none;
}
.navbar{
    background: rgb(101, 101, 155);
    color: white;
    width: 85w;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul{
    list-style: none;
    text-align: center;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul li a{
text-decoration: none;
display: block;
padding: 15px;
color: #6bc38a;
}
.navbar a:hover{
    background-color: azure;
    color: rgb(101, 101, 155);
}
